* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #f7f7f7;
	width: 90%;
	margin: auto;
	padding: 5em 0;
}

header {
	width: 60%;
	margin: auto;
}

.title-header {
	color: #ff9700;
	text-align: center;
	margin-bottom: 2em;
	font-size: 2.3rem;
}

.hidden-title {
	margin-bottom: 3em;
	text-align: center;
	color: #6a6868;
	display: none;
}

blockquote {
	color: #6a6868;
	text-align: center;
	margin-bottom:10em;
}

main {
    display: flex;
    justify-content: center;
}

.marketing {
    width: 15%;
    color: #6a6868;
    margin-right: 5em;
    margin-top: .80em;
}

.profesional {
    color: #fff;
    text-align: center;
    width: 20%;
    padding: 1.5em;
    background-image: url(../images/black.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    margin-right: 1em;
}

.business {
    color: #fff;
    text-align: center;
    width: 20%;
    padding: 1.5em;
    background-image: url(../images/purple.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    margin-right: 1em;
}

.enterprise {
    color: #fff;
    text-align: center;
    width: 20%;
    padding: 1.5em;
    background-image: url(../images/orange.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.btn {
    width: 80%;
    padding: 1em 0;
    margin: auto;
    background-color: #ddd;
    border-radius: 3px;
}

.prof {
    margin-bottom: .80em;
}

.market {
	background-color: #fff;
	padding:  3em;
	border-radius: 5px;
	box-shadow: 0px 0px 16px -1px rgba(174,164,164,1);
	position: relative;
	top: -5px;
}

.benefit {
	margin-bottom: 1em;
}

.expand {
	color: #ff9700;
	margin-right: 1em;
}

.profes, .busi, .enter {
	text-align: center;
	width: 100%;
}

.profes {
	color: #6a6868;
	border-left: 1px solid #ddd;
}

.busi {
	color: #6141e5;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;	
}

.desc {
	display: flex;
}

.description {
	width: 100%;
	color: #6a6868;
}

.enter {
	color: #ff9700;
}

.mute {
	opacity: .2;
}

.email {
	color: #ff9700;
}

.emails {
	margin-bottom: .65em;
}

.unlimited {
	margin-bottom: 1em;
}

.actives {
	margin-bottom: .70em;
}

.done {
	display: flex;
	width: 73%;
	padding-right: 3em;
	justify-content: space-around;
}

.section-benefits {
	display: flex;
	justify-content: space-between;
}

.section-benefits ul li {
	list-style: none;
}

.invisible {
	display: none;
}

.submarket {
	display: none;
}

.exmore {
	display: none;
}

.letshear {
	text-align: center;
	padding-top: 10em;
}

.letstitle {
	font-size: 2.5em;
	color: #6a6868;
	margin-bottom: 2em;
}

.form {
	margin-bottom: 3em;
}

.forms {
	outline: none;
	border: 1px solid #ddd;
	text-align: center;
	width: 30%;
	padding: .50em 0;
}

.forms-email {
	margin: 0 3em;
}

.talkto {
	color: #fff;
	width: 18%;
	padding: 1em;
	margin: auto;
	background-image: linear-gradient(to bottom, #fe9501, #fa8d05, #f68609, #f27e0d, #ed7710);
	border-radius: 3px;
	margin-bottom: 5em;
	font-size: .90em;
}

.shopisticated {
	font-size: 2.5em;
	color: #6a6868;
	margin-bottom: 1em;
}

.slogan {
	font-size: 1em;
	color: #6a6868;
}

.marketers {
	margin-top: 10em;
}

.mardev {
	display: flex;
	justify-content: space-around;
	position: relative;
	z-index: -1;
	top: .50em;
	color: #fff;
}

.marketer {
	width: 25%;
	text-align: center;
	background-color: #ff9700;
	padding: .80em 0;
	border-radius: 10px;
	font-size: 1.2em;
}

.developer {
	width: 25%;
	text-align: center;
	background-color: #6141e5;
	padding: .80em 0;
	border-radius: 10px;
	font-size: 1.2em;
}

.cards {
	background-color: #fff;
	box-shadow: 0px 0px 16px -1px rgba(174,164,164,1);
	border-radius: 3px;
	padding: 3em;
	display: flex;
}

.card {
	text-align: center;
	width: 90%;
}

.card img {
	width: 50%;
}

.img-one {
	margin-bottom: 4em;
}

.img-two, .img-four {
	margin-top: 5em;
}

.img-four {
	margin-bottom: 3em;
}

.img-two {
	margin-bottom: 4.3em;
}

.img-three {
	margin-bottom: 1em;
}
.card-one {
	border-right: 1px solid #ddd;
}

.card-two {
	margin-left: 3em;
}

.titleone, .words {
	text-align: left;
}

.button {
	text-align: center;
	color: #ff9700;
	width: 50%;
	padding: 1em 0;
	border: 1px solid #ff9700;
	border-radius: 3px;
}

.card-two {
	display: block;
}

.card-three {
	display: none;
}

@media(max-width: 1024px) {
    header {
        width: 70%;
    }

    .done {
    	padding-right: 0;
    	width: 72%;
    }

    .market {
    	padding: 2em;
    }

    .section-benefits {
    	font-size: .90em;
    }

    .profile {
    	margin-bottom: 2.4em;
    }

    .benefit {
    	margin-bottom: 1.35em;
    }

    .form input {
    	display: block;
    }

    .forms {
    	margin: auto;
    }

    .forms-email {
    	margin: 2em auto;
    }

@media(max-width: 640px) {
	header {
		width: 95%;
	}

	.title-header {
		font-size: 1.3em;
	}

	blockquote {
		font-size: .80rem;
		margin-bottom: 5em;
	}

	main {
		justify-content: flex-end;
		padding-right: .30em;
	}

	.profesional {
		background-image: linear-gradient(to bottom, #636363, #5e5e5e, #585858, #535353, #4e4e4e);
		padding-top: .50em;
		margin-right: .30em;
	}

	.business {
		background-image: linear-gradient(to bottom, #5f3fe2, #5939d9, #5233cf, #4c2dc6, #4527bd);
		padding-top: .50em;
		margin-right: .30em;
	}

	.enterprise {
		background-image: linear-gradient(to bottom, #fe9501, #fa8d05, #f68609, #f27e0d, #ed7710);
		padding-top: .50em;
	}

	.profesional h2, .profesional h6, .business h2, .business h6, .enterprise h2, .enterprise h6 {
   		 display: none;
	}

	.invisible {
		display: block;
	}

	.desc {
		width: 33%;
	}

	.marketing {
		display: none;
	}

	.hidden-title {
		display: block;
		font-size: 1em;
	}

	.section-benefits {
		font-size: .50em;
	}

	.actives {
		font-size: 2em;
		margin-bottom: 1.5em;
	}

	.active {
		font-size: 2em;
		margin-bottom: 1em;
	}

	.market {
		padding: .50em;
		top: -1em;
		box-shadow: none;
	}

	.expand {
		display: none;
	}

	.done {
		width: 64%;
	}

	.email {
		background-color: #ff9700;
		color: #fff;
		padding-left: .30em;
	}

	.exmore {
		display: inline-block;
		font-size: 1.5em;
		float: right;
	}

	.benefit {
		margin-bottom: 3.3em;
	}

	.unlimited {
		margin-bottom: 2.5em;
	}

	.convers {
		margin-bottom: 0;
	}

	.submarket {
		display: block;
	}

	.sub {
		display: flex;
		justify-content: space-around;
		padding: 0 5em;
	}

	.sub li {
		list-style: none;
		font-size: .70em;
	}

	.round {
		float: left;
		width: 15px;
		height: 15px;
		background-color: black;
		border-radius: 100px;
		margin-right: 1em;
	}

	.one {
		background-image: linear-gradient(to bottom, #636363, #5e5e5e, #585858, #535353, #4e4e4e);
	}

	.two {
		background-image: linear-gradient(to bottom, #5f3fe2, #5939d9, #5233cf, #4c2dc6, #4527bd);
	}

	.three {
		background-image: linear-gradient(to bottom, #fe9501, #fa8d05, #f68609, #f27e0d, #ed7710);
	}

	.letshear {
		padding-top: 5em;
		font-size: .70em;
	}

	.letstitle {
		font-size: 2em;
		width: 60%;
		margin: auto;
		margin-bottom: 1em;
	}

	.shopisticated {
		font-size: 1.5em;
	}

	.forms {
		width: 80%;
		font-size: .80em;
	}

	.talkto {
		width: 40%;
		font-size: .80em;
	}

	.slogan {
		width: 66%;
		font-size: .80em;
		margin: auto;
	}

	.marketers {
		margin-top: 5em;
	}

	.marketer {
		width: 60%;
		font-size: .90em;
	}

	.developer  {
		display: none;
	}

	.cards {
		display: block;
		box-shadow: none;
		padding: 1em;
	}

	.card-one {
		border-right: none;
	}

	.card, .card img {
		width: 100%;
	}

	.card-two {
		margin-left: 0;
	}

	.img-one {
		margin-bottom: 2em;
	}

	.img-two {
		margin-bottom: 1em;
	}

	.img-four {
		margin-top: 6em;
	}

	.card-two {
		display: none;
	}

	.card-three {
		background-color: #fff;
		padding: 1em;
		border-radius: 3px;
		display: block;
		margin-top: 5em;
	}

	.madedevelopers {
		text-align: center;
		position: relative;
		top: -3.5em;
		background-color: #6141e5;
		width: 80%;
		padding: .80em 0;
		border-radius: 10px;
		font-size: .90em;
		color: #fff;
		z-index: -1;
		margin: auto;
	}

	.titleone {
		font-size: 1.2em;
	}

	.words {
		font-size: .80em;
	}

	.button {
		font-size: .50em;
	}
}

@media (min-width: 320px) {

	.subs {
		display: flex;
		justify-content: flex-end;
		padding-right: .30em;
		margin-bottom: 2em;
	}

	.subs li {
		list-style: none;
		font-size: .30em;
		width: 20%;
		text-align: center;
		padding: 1em 0;
		border-radius: 3px;
		color: #fff;
	}

	.subs li:nth-child(1) {
		background-image: linear-gradient(to bottom, #636363, #5e5e5e, #585858, #535353, #4e4e4e);
	}

	.subs li:nth-child(2) {
		background-image: linear-gradient(to bottom, #5f3fe2, #5939d9, #5233cf, #4c2dc6, #4527bd);
		margin: 0 1em;
	}

	.subs li:nth-child(3) {
		background-image: linear-gradient(to bottom, #fe9501, #fa8d05, #f68609, #f27e0d, #ed7710);
	}

	.round {
		width: 10px;
		height: 10px;
		float: left;
	}

	.sub {
		padding: 0 2em;
	}

	.sub li {
		font-size: .50em;
	}
}
